
.FormInput{
    width:40rem;
    height: 10rem;
    padding: 1%;
    text-align: center;
    font-size: 3rem;
}
.FormInputDescription{
    width:20rem;
    height: 4rem;
    padding: 1%;
    text-align: center;
    word-wrap: break-word;
    overflow-y:auto;
}
.FormSubmitButton{
    width:12rem;
    height:5rem;
    font-size: 3rem;
}
.Container{
    display: flex;
    flex-direction: column;
}
.Container img{
    padding: 2rem;
}
@media only screen and (min-width: 992px) {
    .GalleryImages{
    max-width: 60%;
    max-height: 60%;
    margin-left: 17rem;
}
.GalleryDescription{
    text-align: center;
}
.FormInput{
    width:14rem;
    height: 2rem;
    padding: 1%;
    text-align: center;
}
.FormInputDescription{
    width:20rem;
    height: 4rem;
    padding: 1%;
    text-align: center;
    word-wrap: break-word;
    overflow-y:auto;
}

.Container{
    display: flex;
    flex-direction: column;
}
.Container img{
    padding: 2rem;
}
}