.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    background: rgb(21, 21, 21);
    color: white;
}
.PageLinks {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        
}
.Link {
    text-decoration: none;
}