.Form{
    text-align: center;
    padding-top: 15rem;
    display: block;
}
.FormInput{
    max-width: 10rem;
}
.GalleryImages{
    max-width: 20rem;
    max-height: 20rem;
    margin-left: 36rem;
}
.Container{
    display: grid;
}
.Container img{
    padding: 2rem;

}